<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//ibatis.apache.org//DTD Config 3.3//EN" "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>

	<!-- 用于在执行某个映射语句时的拦截调用. -->
	<plugins>
		<plugin interceptor="org.kayura.mybatis.plugin.PagerInterceptor">
			<property name="dialect" value="mysql" />
		</plugin>
	</plugins>
	
</configuration>