
<div class="modal" ng-controller="KisBpmExtendPropertiesPopupCtrl">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
                <h2>{{'PROPERTY.PROPERTY.EDIT.TITLE' | translate:property}}</h2>
            </div>
            <div class="modal-body">
            
			<ul id="myTab" class="nav nav-tabs">
				<li class="active">
					<a href="#ext" data-toggle="tab">预设属性</a>
				</li>
				<li>
					<a href="#custom" data-toggle="tab">自定义属性</a>
				</li>
			</ul>
			
           	<div class="tab-content">
          		<div class="tab-pane fade in active" id="ext" style="padding: 10px;">
          		
	            	<div class="form-inline" ng-repeat="item in predefineProperties">
	          			<label for="{{item.id}}">{{item.name}}</label>
	          			<span ng-if="item.items == null ">
	          			<input ng-if="item.type == 'string' " name="{{item.id}}" type="text" class="form-control" ng-model="item.variable" />
	          			<input ng-if="item.type == 'bool' " name="{{item.id}}" type="checkbox" class="form-control" ng-model="item.variable" ng-true-value="1" ng-false-value="0" />
	          			</span>
	          			<select ng-if="item.items != null " name="{{item.id}}" class="form-control" ng-model="item.variable" ng-options="i.key as i.value for i in item.items">
	          			</select>
	          		</div>
	          		
          		</div>
          		<div class="tab-pane" id="custom" style="padding: 10px;">

	                <div class="row row-no-gutter">
	                
	                    <div class="col-xs-6">
	                        <div ng-if="translationsRetrieved" class="default-grid" ng-grid="gridOptions"></div>
	                        <div class="pull-right">
	                            <div class="btn-group">
	                                <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.MOVE.UP' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="movePropertyUp()"><i class="glyphicon glyphicon-arrow-up"></i></a>
	                                <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.MOVE.DOWN' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="movePropertyDown()"><i class="glyphicon glyphicon-arrow-down"></i></a>
	                            </div>
	                            <div class="btn-group">
	                                <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.ADD' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="addNewProperty()"><i class="glyphicon glyphicon-plus"></i></a>
	                                <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.REMOVE' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="removeProperty()"><i class="glyphicon glyphicon-minus"></i></a>
	                            </div>
	                        </div>
	                    </div>
	            
	                    <div class="col-xs-6">
	                        <div ng-show="selectedProperties.length > 0">
	                            <div class="form-group">
	            			   		<label for="idField">{{'PROPERTY.EXTENDPROPERTIES.ID' | translate}}</label>
	            			   		<input id="idField" class="form-control" type="text" ng-model="selectedProperties[0].id" placeholder="{{'PROPERTY.EXTENDPROPERTIES.ID.PLACEHOLDER' | translate }}" />
	            				</div>
	            				<div class="form-group">
	            			   		<label for="nameField">{{'PROPERTY.EXTENDPROPERTIES.NAME' | translate}}</label>
	            			   		<input id="nameField" class="form-control" type="text" ng-model="selectedProperties[0].name" placeholder="{{'PROPERTY.EXTENDPROPERTIES.NAME.PLACEHOLDER' | translate }}" />
	            				</div>
	            				<div class="form-group">
	            			   		<label for="typeField">{{'PROPERTY.EXTENDPROPERTIES.TYPE' | translate}}</label>
	            			   		<select id="typeField" class="form-control" ng-model="selectedProperties[0].type">
	                                    <option value="string">字符</option>
	                                    <option value="long">数字</option>
	                                    <option value="boolean">布尔</option>
	                                    <option value="date">日期</option>
	                                    <option value="enum">枚举</option>
	                                </select>
	            				</div>
	                            <div class="form-group">
	            			   		<label for="expressionField">{{'PROPERTY.EXTENDPROPERTIES.EXPRESSION' | translate}}</label>
	            			   		<input id="expressionField" class="form-control" type="text" ng-model="selectedProperties[0].expression" placeholder="{{'PROPERTY.EXTENDPROPERTIES.EXPRESSION.PLACEHOLDER' | translate }}" />
	            				</div>
	            				<div class="form-group">
	            			   		<label for="variableField">{{'PROPERTY.EXTENDPROPERTIES.VARIABLE' | translate}}</label>
	            			   		<input id="variableField" class="form-control" type="text" ng-model="selectedProperties[0].variable" placeholder="{{'PROPERTY.EXTENDPROPERTIES.VARIABLE.PLACEHOLDER' | translate }}" />
	            				</div>
	                        </div>
	                        <div ng-show="selectedProperties.length == 0" class="muted no-property-selected" translate>PROPERTY.EXTENDPROPERTIES.EMPTY</div>
	                    </div>
	                </div>
          		</div>
            </div>
            
            </div>
            <div class="modal-footer">
                <button ng-click="cancel()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>
